<div>
    <h3>Azure圖像辨識</h3>
    <div class="m-1">
        <h5>圖片網址: </h5>
        <input id="imgUrl" type="text" class="form-control" value="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/RedCat_8727.jpg/1200px-RedCat_8727.jpg" />
        <img id="imgPreview" src="~/images/noimg.jpg" style="height:300px;margin-top:1em;" />
    </div>
        <button class="btn btn-outline-primary mt-3" onclick="analyze()">GO!</button>
    <div>
        <h6 class="m-3" id="result"></h6>
    </div>
    </div>


 @section Scripts{
     <script>
         function analyze(){
            var params = {
                // Request parameters
                "visualFeatures": "Description,Tags",
                //"details": "{string}",
                "language": "en",
                "model-version": "latest",
            };

            $('#imgPreview').attr('src', $('#imgUrl').val());

            const data = {
                url: $('#imgUrl').val()
            }

            $.ajax({
                url: "https://msit150team03vision.cognitiveservices.azure.com/vision/v3.2/analyze?" + $.param(params),
                beforeSend: function (xhrObj) {
                    // Request headers
                    xhrObj.setRequestHeader("Content-Type", "application/json");
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "b33413b3509c4e359a65a0aad1a0d410");
                },
                type: "POST",
                // Request body
                data: JSON.stringify(data),
            })
                .done(function (data) {
                    var desc = data['description']['captions'][0]['text'];
                    var conf = data['description']['captions'][0]['confidence'];
                    $('#result').html(`${desc} -- ${conf}`)
                })
                .fail(function () {
                    alert("error");
                });

         }
     </script>
 }